.gameboard-bg {
  z-index: -1;
  background-size: cover;
  position: fixed;
  margin-top: -20px;
  height: 100vh;
  width: 100vw;
}

.hp-container {
  display: flex;
  flex-direction: row;
}

/*.gameboardContainer {
  background-image: "../src/background.gif" !important;
}*/
