.leftMargin {
  float: left;
  /*background-color: black;*/
  /*border: solid pink 1px;*/
  bottom: 20px;
  position: absolute;
}

.bottomMargin {
  bottom: 15vw;
  position: absolute;
}

.hadukenContainer {
  background-color: pink;
    position: relative;
  /*border-radius: solid black 1px;*/
}

.block-containerP1 {
  opacity: 0.3;
}
